$white: #fff;
$black: #172a3f;
$gray: #627080;
$light-gray: #eee;
$dark-gray: #929eaa;
$green: #03ccba;
$purple: #8891eb;
$red: #ff5c5c;
$orange: #f46d21;
$cyan: #39bbd8;
$yellow: #ffb717;
$blue: #219ee7;
$border-dropdown-color: #e2e2e2;
$background-color: #f7f7f7;
$primary-gradient: linear-gradient(90deg, #1a96ef 0%, #63e8aa 100%);
$main-font-family: inter, arial, sans-serif;
