$black: 172a3f;
$gray: 627080;
$green: 03ccba;
$purple: 8891eb;
$red: ff5c5c;
$orange: f46d21;
$cyan: 39bbd8;
$yellow: ffb717;
$blue: 219ee7;

$background-color: e5e5e5;

$primary-gradient: linear-gradient(90deg, #1a96ef 0%, #63e8aa 100%);
