.primary-button {
  display: inline-block;
  padding: 17px 70px;
  color: $white;
  background: $primary-gradient;
  box-shadow: 0 24px 48px rgb(23 42 63 / 16%);
  border-radius: 4px;
  font: 600 1rem/1.5 $main-font-family;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    font: 600 0.75rem/1.666 $main-font-family;
    letter-spacing: 0.05em;
  }

  &_for{
    &_promo {
      color: #1e6465;
      background: $white;

      @media screen and (max-width: 600px) {
        width: 220px;
        padding: 12px 12px 11px;
        font: 600 0.75rem/1.666 $main-font-family;
        text-align: center;
      }
    }

    &_benefits {
      @media screen and (max-width: 768px) {
        padding: 12px 33px;
      }
    }
  }

  &:hover,
  &:focus {
    color: $orange;
  }
}