.mobile-header-login-button {
  min-width: 37px;

  &__link {
    color: $white;
    font: 600 0.75rem/1.666 $main-font-family;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $orange;
    }

    @media screen and (max-width: 1060px) {
      font-size: 1.2rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 0.75rem;
    }
  }
}