.header {
  width: 100%;

  &__container {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1145px;
      height: 749px;
      background-image: url('../../assets/images/background-banner.png');
      background-repeat: no-repeat;
    }
  }
  
}
