.header {
  position: relative;
  width: 100%;
  max-width: 1600px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1145px;
    height: 749px;
    background-image: url('../../assets/images/background-banner.png');
    background-repeat: no-repeat;
  }

  &__container {
    max-width: 1290px;
    margin: 0 auto;
    padding-top: 35px;


  }
  
}
