.footer {
  width: 100%;

  &__down-block {
    width: 100%;
    background-color: $light-gray;
  }

  &__down-block-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 1372px;
    margin: 0 auto;
    padding: 30px 41.5px;

    @media screen and (max-width: 768px) {
      gap: 30px;
      padding: 30px;
    }
  }

  &__down-block-up-row,
  &__down-block-down-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__down-block-up-row {
    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 14px;
    }
  }

  &__down-block-down-row {
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 18px;
    }
  }

  &__down-block-links {
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media screen and (max-width: 940px) {
      gap: 30px;
    }

    @media screen and (max-width: 860px) {
      flex-direction: column;
      gap: 0;
    }

    @media screen and (max-width: 500px) {
      align-items: center;
      gap: 6px;
    }
  }

  &__down-block-link {
    color: $dark-gray;
    text-decoration: none;
    font: 500 0.938rem/2.53 $main-font-family;
  }

  &__logo-block {
    @media screen and (max-width: 500px) {
      order: -1;
    }
  }

  &__social-links {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__social-link {
    display: inline-block;
    text-decoration: none;
  }

  &__social-link-img {

    &_bg{
      &_orange:hover svg path,
      &_orange:focus svg path {
        fill: $orange;
        transition: fill 0.3s;
      }
      &_red:hover svg path,
      &_red:focus svg path {
        fill: $red;
        transition: fill 0.3s;
      }
      &_blue:hover svg path,
      &_blue:focus svg path {
        fill: $blue;
        transition: fill 0.3s;
      }
      &_cyan:hover svg path,
      &_cyan:focus svg path {
        fill: $cyan;
        transition: fill 0.3s;
      }
    }
  }

  &__copyright {
    color: $dark-gray;
    font: 400 0.938rem/1.333 $main-font-family;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__contacts-link {
    color: $dark-gray;
    text-align: right;
    font: 400 0.875rem/2.142 $main-font-family;
    text-decoration: none;
  }
}