include ../../components/header/header
include ../../components/footer/footer

block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    title #{title ? title : 'Email валидация'}
    link(href="./assets/styles/main.css" rel="stylesheet")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  body
    +header({
      logImgSrc: './assets/images/logo.svg',
      navMenuItems: [
        {navItemName: "Возможности"},
        {navItemName: "Цены"},
        {navItemName: "Полезное"},
      ]
    })
    block content
    +footer({
      footerListItems: [
        {
          title: "Notisend",
          linksItems: [
            {
              href: "/mock-address/change-me",
              text: "О нас",
            },
            {
              href: "/mock-address/change-me",
              text: "Контакты",
            },
            {
              href: "/mock-address/change-me",
              text: "Партнёрам",
            },
            {
              href: "/mock-address/change-me",
              text: "Отзывы",
            },
            {
              href: "/mock-address/change-me",
              text: "Клиенты",
            },
            {
              href: "/mock-address/change-me",
              text: "Карта сайта",
            },
            
          ],
        },
        {
          title: "Полезное",
          linksItems: [
            {
              href: "/mock-address/change-me",
              text: "Блог",
            },
            {
              href: "/mock-address/change-me",
              text: "База знаний",
            },
            {
              href: "/mock-address/change-me",
              text: "Словарь",
            },
            {
              href: "/mock-address/change-me",
              text: "FAQ",
            },
            {
              href: "/mock-address/change-me",
              text: "Техподдержка",
            },
            
          ],
        },
        {
          title: "Возможности",
          linksItems: [
            {
              href: "/mock-address/change-me",
              text: "Конструктор писем",
            },
            {
              href: "/mock-address/change-me",
              text: "Html редактор",
            },
            {
              href: "/mock-address/change-me",
              text: "Email валидатор",
            },
            {
              href: "/mock-address/change-me",
              text: "Транзакционные письма",
            },
            {
              href: "/mock-address/change-me",
              text: "A/B тестирование",
            },
            {
              href: "/mock-address/change-me",
              text: "Формы подписки",
            },
            {
              href: "/mock-address/change-me",
              text: "Продвинутая аналитика",
            },
            {
              href: "/mock-address/change-me",
              text: "Автоматизация",
            },
            {
              href: "/mock-address/change-me",
              text: "Готовые шаблоны для email",
            },
            {
              href: "/mock-address/change-me",
              text: "Переход с другого сервиса",
            },
            {
              href: "/mock-address/change-me",
              text: "Услуги под ключ",
            },
            
          ],
        },
        {
          title: "Разработчикам",
          linksItems: [
            {
              href: "/mock-address/change-me",
              text: "API",
            },
            {
              href: "/mock-address/change-me",
              text: "SMTP",
            },
            {
              href: "/mock-address/change-me",
              text: "Готовые решения",
            },
          ],
        },
      ],
      downBlockLinks: [
        {
          href: "/mock-address/change-me",
          text: "Антиспам политика",
        },
        {
          href: "/mock-address/change-me",
          text: "Правила использования",
        },
        {
          href: "/mock-address/change-me",
          text: "Политика конфиденциальности",
        },
      ],
      logoImgSrc: "./assets/images/footer-logo.svg",
      logoImgAlt: "Логотип NotiSend",
      socialLinks: [
        {
          href: "/mock-address/change-me",
          isBgOrange: true,
          img: `<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C1.79086 0 0 1.79086 0 4V28C0 30.2091 1.79086 32 4 32H28C30.2091 32 32 30.2091 32 28V4C32 1.79086 30.2091 0 28 0H4ZM17.9302 11.1631C17.9302 9.9842 16.9714 9.02543 15.7925 9.02543C14.6136 9.02543 13.6548 9.9842 13.6548 11.1631C13.6548 12.3385 14.6136 13.2973 15.7925 13.2973C16.9714 13.2973 17.9302 12.3385 17.9302 11.1631ZM20.9556 11.1631C20.9556 14.0075 18.6404 16.3227 15.7925 16.3227C12.9446 16.3227 10.6329 14.0075 10.6329 11.1631C10.6329 8.31524 12.9446 6 15.7925 6C18.6404 6 20.9556 8.31524 20.9556 11.1631ZM20.8775 19.2913C19.9436 19.8772 18.9316 20.2927 17.8805 20.5342L20.7674 23.4176C21.3569 24.007 21.3569 24.9658 20.7674 25.5552C20.1744 26.1483 19.2192 26.1483 18.6297 25.5552L15.7925 22.7216L12.9588 25.5552C12.6605 25.85 12.2735 25.9991 11.8864 25.9991C11.4994 25.9991 11.1159 25.85 10.8176 25.5552C10.2281 24.9658 10.2281 24.007 10.8176 23.4176L13.7045 20.5342C12.6534 20.2927 11.6414 19.8772 10.7075 19.2913C10.0009 18.8474 9.7878 17.9135 10.2317 17.2069C10.6755 16.4967 11.6094 16.2836 12.3161 16.7311C14.4325 18.0591 17.1525 18.0591 19.2654 16.7311C19.9756 16.2836 20.9059 16.4967 21.3533 17.2069C21.7972 17.9135 21.5841 18.8474 20.8775 19.2913Z" fill="#CDD1D6"/></svg>`
        },
        {
          href: "/mock-address/change-me",
          isBgCyan: true,
          img: `<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C1.79086 0 0 1.79086 0 4V28C0 30.2091 1.79086 32 4 32H28C30.2091 32 32 30.2091 32 28V4C32 1.79086 30.2091 0 28 0H4ZM12.7653 22.6444L13.0631 18.4354L20.7335 11.5138C21.0672 11.2168 20.6615 11.0525 20.2152 11.3495L10.7327 17.3124L6.6504 16.0363C5.76238 15.7596 5.74588 15.1491 6.83565 14.724L22.8035 8.5802C23.5431 8.30358 24.1896 8.74452 23.9488 9.87212L23.9481 9.87288L21.2315 22.6655C21.0267 23.5684 20.492 23.7923 19.733 23.3672L15.5944 20.3213L13.5971 22.2396C13.3758 22.4604 13.1913 22.6444 12.7653 22.6444Z" fill="#CDD1D6"/>
                </svg>`
        },
        {
          href: "/mock-address/change-me",
          isBgBlue: true,
          img: `<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 0C1.79086 0 0 1.79086 0 4V28C0 30.2091 1.79086 32 4 32H28C30.2091 32 32 30.2091 32 28V4C32 1.79086 30.2091 0 28 0H4ZM21.4697 10.7442H24.7152C26.1942 10.7442 25.1154 12.4095 24.5194 13.1956C24.0833 13.7708 23.055 15.1133 22.4264 15.9334C22.2814 16.1227 22.2094 16.3573 22.2236 16.5946C22.2378 16.8319 22.3371 17.0564 22.5037 17.2274C22.5037 17.2274 24.4486 19.2598 24.9876 19.786C25.7534 20.5337 25.7534 21.5 24.3488 21.5H21.4363C21.163 21.5 20.9 21.3967 20.7008 21.2112L18.4829 19.1454C18.3807 19.0501 18.2525 18.9866 18.1142 18.9626C17.9759 18.9387 17.8336 18.9554 17.7048 19.0106C17.576 19.0658 17.4663 19.1572 17.3892 19.2735C17.3121 19.3898 17.2711 19.5259 17.2711 19.6651V20.7743C17.2711 20.9668 17.1939 21.1513 17.0567 21.2874C16.9194 21.4235 16.7332 21.5 16.539 21.5H14.6861C10.2837 21.5 6.42671 13.8486 5.53133 11.4138C5.5031 11.3385 5.49375 11.2574 5.50408 11.1777C5.51442 11.0979 5.54413 11.0218 5.59067 10.956C5.6372 10.8901 5.69917 10.8364 5.77125 10.7995C5.84332 10.7627 5.92335 10.7437 6.00446 10.7442H8.95319C9.08398 10.744 9.21208 10.7811 9.32229 10.8509C9.4325 10.9207 9.5202 11.0204 9.57498 11.1381C10.2129 12.7119 11.0402 14.2037 12.039 15.5808C12.1372 15.6896 12.2666 15.766 12.4099 15.7995C12.5532 15.8331 12.7035 15.8223 12.8404 15.7685C12.9773 15.7148 13.0942 15.6207 13.1754 15.4989C13.2567 15.3771 13.2983 15.2336 13.2946 15.0877C13.2752 14.0974 13.2539 12.9167 13.2539 12.5063C13.2539 10.8512 12.0148 11.0498 12.0148 11.0498C12.2105 10.7824 12.4719 10.5691 12.7741 10.43C13.0764 10.291 13.4095 10.2308 13.7418 10.2553H16.182C16.4708 10.2553 16.7478 10.3691 16.9521 10.5716C17.1563 10.774 17.2711 11.0486 17.2711 11.335V14.7616C17.2711 15.7554 17.9954 16.4277 19.114 14.2864C19.5297 13.4904 20.8242 11.1271 20.8242 11.1271C20.8868 11.0114 20.9799 10.9147 21.0936 10.8473C21.2073 10.7798 21.3373 10.7442 21.4697 10.7442Z" fill="#CDD1D6"/>
                </svg>`
        },
        {
          href: "/mock-address/change-me",
          isBgRed: true,
          img: `<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 4C0 1.79086 1.79086 0 4 0H28C30.2091 0 32 1.79086 32 4V28C32 30.2091 30.2091 32 28 32H4C1.79086 32 0 30.2091 0 28V4ZM23.9471 10.3534C23.5836 10.0211 23.1232 9.80307 22.6196 9.74704C21.5252 9.62367 20.4208 9.56157 19.3128 9.53043C18.2119 9.49951 17.1063 9.49951 16.0031 9.50015C14.9001 9.49951 13.7945 9.49951 12.6934 9.53043C11.5853 9.56157 10.4806 9.62367 9.38552 9.74704C8.88246 9.8031 8.42225 10.0212 8.05905 10.3537C7.69815 10.6841 7.433 11.1278 7.317 11.6378C7.16041 12.3215 7.08119 13.0348 7.04118 13.7525C7.001 14.4733 7 15.185 7 15.8758C7 16.5658 7.00001 17.2765 7.03924 17.9977C7.07828 18.7151 7.15654 19.4284 7.31321 20.1122C7.4299 20.6225 7.69518 21.0663 8.05605 21.3967C8.41904 21.729 8.87879 21.9469 9.38171 22.003C10.4769 22.1263 11.5816 22.1884 12.6898 22.2196C13.7908 22.2505 14.8964 22.2505 15.9996 22.2498C17.1032 22.2505 18.2088 22.2505 19.3097 22.2196C20.4177 22.1884 21.522 22.1263 22.6171 22.003C23.1199 21.9469 23.5796 21.729 23.9427 21.3968C24.3038 21.0665 24.5694 20.6226 24.6869 20.1122C24.8429 19.4284 24.9211 18.7151 24.9603 17.9977C24.999 17.2903 24.9993 16.5726 24.9993 15.8758H25V15.8409H24.9993C24.9993 14.4565 24.9993 12.9903 24.6907 11.6378C24.574 11.1275 24.3084 10.6838 23.9471 10.3534ZM16.3385 13.981C17.3634 14.5156 18.3894 15.0508 19.4225 15.5901L19.75 15.7611L19.4217 15.9313L16.6014 17.3934C15.6626 17.8799 14.7239 18.3663 13.7811 18.8545L13.5 19V18.6835V12.8173V12.5L13.7818 12.6471C14.6354 13.0926 15.4866 13.5366 16.3385 13.981Z" fill="#CDD1D6"/>
                </svg>`
        },
      ],
      copyrightText: "ООО «Интер» © 2016-2022",
      emailText: "support@notisend.ru",
      emailHref: "mailto:support@notisend.ru",
      telText: "8 (800) 200-92-55",
      telHref: "tel:+78002009255",
    })
    script(src="./assets/js/index.js")
    block scripts
