include ../../components/header/header

block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    title #{title ? title : 'Email валидация'}
    link(href="./assets/styles/main.css" rel="stylesheet")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  body
    +header({
      logImgSrc: './assets/images/logo.svg',
      navMenuItems: [
        {navItemName: "Возможности"},
        {navItemName: "Цены"},
        {navItemName: "Полезное"},
      ]
    })
    block content
    include ../../components/footer/footer
    script(src="./assets/js/index.js")
    block scripts
