html {
  box-sizing: border-box;
  height: 100%;
  font-size: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #172a3f;
  font-family: Roboto, Arial, sans-serif;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}
